<ion-header>
  <ion-navbar>
    <ion-title> {{ "_TITLE" | translate }}</ion-title>
    <ion-buttons end>
      <!--<button ion-right ion-button icon-only (click)="openGlobalMenu()">-->
      <button ion-right ion-button icon-only >
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!--<ion-list inset *ngFor="let label of labelsFromStorage">-->
    <ion-list> 
          <h2>{{ "_BUNCHES_TRANSPORTED_HEADER" | translate }}</h2>
    <ion-list-header>
         <ion-avatar item-left> <b>{{ "_S_NO_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-left> <b>{{ "_LOCATION_LBL" | translate }}</b> </ion-avatar>
      <ion-avatar item-right> <b>{{ "_TOTAL_BUNCHES_LBL" | translate }}</b> </ion-avatar>
    </ion-list-header>
    <ion-item *ngFor="let item of harvestedHistoryData; let i = index;" (click)="itemSelected(item)">
      <ion-avatar item-left>
        <button ion-button color="light"> {{i+1}} </button>
      </ion-avatar>
      <h2>{{ item.location_name }}</h2>
      <h3>{{item .bunch_count}}</h3>
      <ion-avatar item-right>
        <button ion-button icon-only>
        <ion-icon name="bus"></ion-icon>
      </button>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>