<ion-header>
  <ion-navbar>
    <ion-title> ESAWIT</ion-title>
    <ion-buttons end>
      <button ion-right ion-button icon-only (click)="openGlobalMenu()">
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list inset *ngFor="let label of labelsFromStorage">
    <h2>{{label.SurveyorModule.BunchesHistory.lblHeader}}</h2>
    <ion-list-header>
      <ion-avatar item-left> <h2>{{label.SurveyorModule.BunchesHistory.lblNo}}</h2></ion-avatar>
      <ion-avatar item-left> <h2>{{label.SurveyorModule.BunchesHistory.lblMonths}}</h2></ion-avatar>
        <ion-avatar item-right>  <h2>{{label.SurveyorModule.BunchesHistory.lblLocation}}</h2>  </ion-avatar>
      <ion-avatar item-right> <h2>{{label.SurveyorModule.BunchesHistory.lblTotalBunches}}</h2></ion-avatar>
    </ion-list-header>
    <ion-item *ngFor="let item of countHistoryData; let i = index;" (click)="itemSelected(item)">
      <ion-avatar item-left>
        <button ion-button color="light"> {{i+1}} </button>
      </ion-avatar>
           <ion-avatar item-left> <h2>{{ item.month }}</h2></ion-avatar>
              <ion-avatar item-right>
         <h2>{{ item.location_GUID }}</h2>
      </ion-avatar>
     
        <ion-avatar item-right>
        <h2>{{item .bunch_count}}</h2>
      </ion-avatar>
     
      <!--<ion-avatar item-right>
        <button ion-button icon-only>
        <ion-icon name="bus"></ion-icon>
      </button>
      </ion-avatar>-->
    </ion-item>
  </ion-list>
</ion-content>