<ion-header>
  <ion-navbar>
    <ion-title> {{ "_TITLE" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-right ion-button icon-only (click)="openGlobalMenu()">
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!--<ion-list inset *ngFor="let label of labelsFromStorage">-->
    <ion-list>
    <h2>{{ "_BUNCHES_COUNT_HISTORY_HEADER" | translate }}</h2>
    <ion-list-header>
      <ion-avatar item-left> <h2>{{ "_S_NO_LBL" | translate }}</h2></ion-avatar>
      <ion-avatar item-left> <h2>{{ "_MONTH_LBL" | translate }}</h2></ion-avatar>
        <ion-avatar item-right>  <h2>{{ "_LOCATION_LBL" | translate }}</h2>  </ion-avatar>
      <ion-avatar item-right> <h2>{{ "_TOTAL_BUNCHES_LBL" | translate }}</h2></ion-avatar>
    </ion-list-header>
    <ion-item *ngFor="let item of countHistoryData; let i = index;" (click)="itemSelected(item)">
      <ion-avatar item-left>
        <button ion-button color="light"> {{i+1}} </button>
      </ion-avatar>
           <ion-avatar item-left> <h2>{{ item.month }}</h2></ion-avatar>
              <ion-avatar item-right>
         <h2>{{ item.location_name }}</h2>
      </ion-avatar>
     
        <ion-avatar item-right>
        <h2>{{item .bunch_count}}</h2>
      </ion-avatar>
     
      <!--<ion-avatar item-right>
        <button ion-button icon-only>
        <ion-icon name="bus"></ion-icon>
      </button>
      </ion-avatar>-->
    </ion-item>
  </ion-list>
</ion-content>