<ion-header>
  <ion-navbar>
    <ion-title> ESAWIT</ion-title>
    <ion-buttons end>
      <button ion-right ion-button icon-only (click)="openMenu()">
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list inset *ngFor="let label of labelsFromStorage">
    <h1>{{label.SurveyorModule.CountBunches.lblHeader}}</h1>
    <form [formGroup]="AddTransaction">
      <ion-item>
        <ion-label fixed>{{label.SurveyorModule.CountBunches.lblMonth}}</ion-label>
         <ion-select [formControl]="AddTransaction.controls['month']" [(ngModel)]="monthSelect" interface="popover" placeholder="-Please Select-">
          <ion-option *ngFor="let month of monthsFromStorage" value={{month.value}}>{{month.name}}</ion-option>
        </ion-select>
        <!--<ion-input [formControl]="AddTransaction.controls['month']" highlight-color="energized" type="text"></ion-input>-->
      </ion-item>

      <ion-item>
        <ion-label>{{label.SurveyorModule.CountBunches.lblLocation}}</ion-label>
        <!--<ion-select  [formControl]="AddTransaction.controls['location_GUID']" [(ngModel)]="locationSelect" interface="popover" placeholder="-Please Select-" (ionChange)="onSelectChange($event)">-->
        <ion-select [formControl]="AddTransaction.controls['location_GUID']" [(ngModel)]="locationSelect" interface="popover" placeholder="-Please Select-">
          <ion-option *ngFor="let item of locationListFromDb" value={{item.location_GUID}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{label.SurveyorModule.CountBunches.lblTotalBunches}}</ion-label>
        <ion-input [formControl]="AddTransaction.controls['bunch_count']" highlight-color="energized" type="text"></ion-input>
      </ion-item>


      <ion-col>
        <button ion-button full type="submit" (click)="submitCount()">{{label.SurveyorModule.CountBunches.btnSubmit}}</button>
      </ion-col>

    </form>
  </ion-list>
</ion-content>